appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.1
attrs==19.2.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.0
bootstrap4==0.1.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
cool-ascii-faces==0.0.1
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.5
django-bootstrap4==1.1.1
django-crispy-forms==1.9.0
entrypoints==0.3
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
mercadopago==1.1.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.4.10
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
Pillow==6.0.0
pipenv==2018.11.26
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psycopg2==2.7.7
pycodestyle==2.5.0
Pygments==2.4.2
pylint==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
python-decouple==3.3
pytz==2019.1
pywin32==225
pywinpty==0.5.5
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.23.0
Send2Trash==1.5.0
six==1.12.0
somepackage==1.2.3
soupsieve==2.0
sqlparse==0.3.0
static3==0.7.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==20.0.17
virtualenv-clone==0.5.4
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==5.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==0.6.0
