{% extends "Layouts/baseRecepcionista.html" %}
{% block content %}
    <meta http-equiv="refresh" content="30">
    <h1 style="text-align: center">Pedidos Pendientes</h1>
    <hr style="background-color: black; width: 50%">
    <br>
    {% if pedidos %} 
        {% for pedido in pedidos %}
            {% if pedido.estadoPedido.estado == 'pendiente' %}
                <div class="card">
                    <div class="card-header">
                        <h4>Pedido Nº: {{pedido.id}}</h4>
                    </div>
                    <div class="card-body">
                        <h5>Cliente: {{pedido.nombre_cliente}}</h5>
                        <h5>Descripción: {{pedido.descripcion}}</h5>
                        <h5>Dirección: {{pedido.mapa.direccion}}</h5>
                        <h5>Teléfono: {{pedido.telefono_cliente}}</h5>
                        <h5>Fecha: {{pedido.fecha}}
                        <table class="table table-bordered">
                            <thead> 
                                <tr align="center"> 
                                    <td><b>Producto</b></td> 
                                    <td><b>Cantidad</b></td> 
                                    <td><b>Precio</b></td> 
                                    <td><b>Subtotal</b></td>
                                </tr>
                            </thead> 
                            {% for pedidoProducto in pedidoProductos %}
                                {% if pedido.id == pedidoProducto.pedido.id %}
                                    <tr>
                                        <td>{{pedidoProducto.producto.nombre}}</td>
                                        <td>{{pedidoProducto.cantidad}}</td>
                                        <td>{{pedidoProducto.precioVariable}}</td>
                                        <td>{{pedidoProducto.subtotal}}</td>
                                    </tr>  
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="4"><b>Total: ${{ pedido.total }}</b></td>
                            </tr> 
                        </table>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="/confirmar_pedido/{{pedido.id}}" class="btn btn-success">Confirmar</a>
                        <a href="/rechazar_pedido/{{pedido.id}}" class="btn btn-danger">Rechazar</a>
                    </div>
                </div><br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}